.lato {
  font-family: 'Lato';
}

.stencil {
  font-family: 'stencil';
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.micro {
  font-size: 12px;
}

.reg {
  font-size: $reg;
}


.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 10px rgba(0,0,0,.5)
}
