@font-face {
  font-family: 'stencil';
  src: url('../../public/fonts/StardosStencil-Bold.ttf ') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../public/fonts/Lato-Bold.ttf ') format('truetype');
  font-weight: 500;
  font-style: normal;
}
