@import 'modules/variables/color';
@import 'modules/variables/typography';
@import 'partials/typography';

$purple: #8A4D76;
$primary: $purple;
$reg: 18px;

@import 'bulma';

body, html {
  @extend .lato;
  font-size: $reg;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hello-card {
  background: #ffffff;
  min-height: 100vh;
  h1 {
    text-align: center;
  }
}

nav {
  min-width: 100px;
}

.app-container {
  min-height: 100%;
}

@import './partials/helpers';
