@import 'modules/variables/color';
@import 'modules/variables/typography';
@import 'partials/typography';

$purple: #8A4D76;
$primary: $purple;
$reg: 18px;

@import 'bulma';

body {
  // background: $silver;
  @extend .lato;
  font-size: $reg;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.lato {
  font-family: 'Lato';
}

.stencil {
  font-family: 'stencil';
}

.hello-card {
  background: #ffffff;
  min-height: 100vh;
  h1 {
    text-align: center;
  }
}

.flex {
  flex: 2;
}


.w-20 {
  width: 20%;
}

.micro {
  font-size: 12px;
}

.reg {
  font-size: $reg;
}
